*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Grid */
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 830px 606px;
    grid-template-rows: 70px 700px 70px;
    grid-template-areas: 
    "header hero"
    "main hero"
    "footer hero";
}

header{
    grid-area: header;
}

#hero{
    grid-area: hero;
}

#main{
    grid-area: main;
}

footer{
    grid-area: footer;
}

/* Footer Information */
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%);}

  
  


